.adicionais {
  font-weight: normal;
  margin: 30px;
}
.info-adicionais {
  margin-left: 6rem;
}
.adicionais h1 {
  color: rgba(255, 255, 255, 0.897);
}
.adicionais p {
  color: #b8b8b8;
  font-size: 16px;
}
.adicionais-2 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.adicionais h2 {
  color: #b8b8b8;
  font-size: 16px;
}
.adicionais ul {
  display: flex;
  justify-content: center;
}
.adicionais ul li {
  color: #b8b8b8;
  font-size: 1.5em;
  list-style: none;
}
.adicionais ul li + li::before {
  content: "-";
  margin: 10px;
}
